<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>Card Review</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center">Card Review Blog Post</h3>
            </div>
        </div>
    </div>

    <br><br>
    <form th:action="@{/cardReview}" th:object="${cardReview}" method="post">
        <div class="container-fluid" >
            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="playerName" type="text"
                           th:field="*{playerName}" placeholder="Player Name" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('playerName')}"
                        th:errors="*{playerName}">
                   </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="cardName" type="text"
                           th:field="*{cardName}" placeholder="Card Name" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('cardName')}"
                         th:errors="*{cardName}">
                   </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="email" type="email"
                           th:field="*{email}" placeholder="Email" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{Email}">
                   </span>
                </div>
            </div>


            <div class="row justify-content-center mb-3">
                <div class="col-8">
                    <input class="form-control" id="pros" type="text" th:field="*{pros}" placeholder="No Pros" required/>
                    <input class="form-control" id="cons" type="text" th:field="*{cons}" placeholder="No Cons" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('pros')}"
                         th:errors="*{pros}">
                   </span>
                    <span class="text-danger small" th:if="${#fields.hasErrors('cons')}"
                          th:errors="*{cons}">
                   </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input type="submit" class="btn btn-light btn-outline-dark" value="Submit" />
                </div>
            </div>
        </div>
    </form>

    <div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>