<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>Card Reviews</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <div class="container mt-5">
        <div th:each="cardReview: ${cardReview}">
            <div class="row justify-content-center mb-3">
                <div class="col-2 col-md-4"></div>
                <div class="col-8 col-md-4 card">
                    <div class="card-body">
                        <h5 class="card-title d-inline" th:text="${cardReview.playerName} + '  ' + ${cardReview.cardName}"></h5>
                        <a th:href="@{/cardReview/view/{id}(id=${cardReview.id})}" class="ml-3 text-dark"><i class="fas fa-eye"></i></a>
                        <a class="ml-3 text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="col-2 col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your review?</p>
                </div>
                <div class="modal-footer">
                    <a class="ml-2 btn btn-light btn-outline-dark" th:href="@{/view}">Cancel</a>
                    <a th:href="@{/cardReview/delete/{id}(id=${cardReview})}" class="ml-3 text-danger"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>