<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/base :: headAttributes"></th:block>
    <title>Card Review</title>
</head>
<body>
    <div th:replace="fragments/base :: navigation"></div>
    <div th:replace="fragments/base :: header"></div>

    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <h3 class="text-center col-12">View/Edit Card Review</h3>
        </div>
    </div>

    <br><br>
    <form class="mt-3 mb-3" th:action="@{/cardReview/edit/{id}(id=${cardReview.id})}" th:object="${cardReview}" method="post">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="playerName" type="text"
                           th:field="*{playerName}" placeholder="Player Name" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('playerName')}"
                         th:errors="*{playerName}">
                   </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="cardName" type="text"
                           th:field="*{cardName}" placeholder="Card Name" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('cardName')}"
                         th:errors="*{cardName}">
                   </span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input class="form-control" id="email" type="email"
                           th:field="*{email}" placeholder="Email" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{Email}">
                   </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8">
                    <input class="form-control" id="pros" type="text" th:field="*{pros}" placeholder="No Pros" required/>
                    <input class="form-control" id="cons" type="text" th:field="*{cons}" placeholder="No Cons" required/>
                </div>
            </div>
            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                   <span class="text-danger small" th:if="${#fields.hasErrors('pros')}"
                         th:errors="*{pros}">
                   </span>
                    <span class="text-danger small" th:if="${#fields.hasErrors('cons')}"
                          th:errors="*{cons}">
                   </span>
                </div>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-8 col-md-3">
                    <span th:text="'Date created: ' + ${#temporals.format(cardReview.created, 'dd-MM-yyyy HH:mm')}"></span><br>
                    <span th:text="'Date Modified: ' + ${#temporals.format(cardReview.modified, 'dd-MM-yyyy HH:mm')}"></span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-8 col-md-3">
                    <input type="submit" class="btn btn-light btn-outline-dark" value="Submit"/>
                    <a class="ml-2 btn btn-light btn-outline-dark" th:href="@{/view}">Cancel</a>
                </div>
            </div>
        </div>
    </form>

    <div th:replace="fragments/base :: footer"></div>
</body>
<th:block th:replace="fragments/base :: scripts"></th:block>
</html>